* {
  box-sizing: border-box;
}

html {
  line-height: 1.25;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline dotted;
  text-decoration: underline;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.card {
  background: var(--clr);
  border-radius: 4.375rem 1.25rem 1.25rem 1.25rem;
  height: 25rem;
  margin: 0 3rem;
  overflow: hidden;
  position: relative;
  width: 18.75rem;
}

.card .box {
  background-color: #E7ECEF;
  border-radius: 10px;
  inset: 10px;
  position: absolute;
}

.card .box .icon {
  background: var(--clr);
  border-bottom-right-radius: 50%;
  height: 8.75rem;
  position: absolute;
  transition: 0.5s;
  width: 8.75rem;
}

.card .box .icon::before {
  background: transparent;
  border-top-left-radius: 1.875rem;
  bottom: -1.875rem;
  box-shadow: -5px -5px 0 5px var(--clr);
  content: "";
  height: 1.875rem;
  left: 0;
  position: absolute;
  width: 1.875rem;
}

.card .box .icon::after {
  background: transparent;
  border-top-left-radius: 1.875rem;
  box-shadow: -5px -5px 0 5px var(--clr);
  content: "";
  height: 1.875rem;
  position: absolute;
  right: -1.875rem;
  top: 0;
  width: 1.875rem;
}

.card .box .icon .iconbox {
  align-items: center;
  background-color: transparent;
  border-radius: 50% 10px 50% 10px;
  display: flex;
  font-weight: 600;
  inset: 10px;
  justify-content: center;
  position: absolute;
}

.card .box .icon .iconbox ion-icon {
  color: #FFF;
  font-size: 4rem;
  --ionicon-stroke-width: 1.25rem;
}

.card .box .content {
  padding: 1.25rem;
  position: absolute;
  text-align: center;
  top: 9.375rem;
}

.card .box .content h3 {
  color: var(--clr);
  font-family: "Cairo", sans-serif;
  font-size: 1.35rem;
  font-weight: 700;
  letter-spacing: 0.12rem;
  text-transform: uppercase;
}

.card .box .content p {
  color: #282828;
  font-size: 0.95rem;
  line-height: 1.6rem;
  margin: 2rem 0 10px;
  opacity: 0.75;
}

.card .box .content span {
  color: #274c77;
}

.cta {
  border: none;
  border-radius: 1.75rem;
  color: #FFF;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 5px;
  padding: 1rem;
  text-transform: uppercase;
  transition: background-color 0.2s ease-in 0s;
}

.crawl_cta,
.about_cta,
.form_submit {
  background-color: #274C77;
}

.crawl_cta {
  margin: 2rem 0 2rem;
}

.about_cta {
  margin: 0.5rem 0 1rem;
}

.form_submit {
  margin: 2rem 0 2rem;
}

.crawl_cta:hover,
.about_cta:hover,
.form_submit:hover {
  background-color: #A3CEF1;
}

.container {
  align-content: center;
  align-items: center;
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Aligns items at the top */
  padding: 1rem 3rem 0;
  width: 100%;
}

.container .hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2rem;
  padding: 2rem;
  width: 50%;
}

.hero_text,
.hero_image {
  flex-direction: column;
  padding: 1rem;
  width: 50%;
}

.hero_text {
  align-items: center;
  display: flex;
  justify-content: center;
}

.hero_text h3,
.about h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
}

.container .section_heading {
  letter-spacing: 5px;
  text-transform: uppercase;
}

.container .stats {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 3rem;
  width: 100%;
}

.container .stats .cards {
  display: flex;
  flex-direction: row;
}

.container .about {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 2rem;
  padding: 0 3rem 3rem 3rem;
}

.about .about_text {
  display: flex;
  flex-direction: row;
}

.about .about_text .text {
  margin: 2rem;
  width: 50rem;
  padding: 1.5rem;
}

.about .about_heading {
  padding: 1.5rem;
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

.about .images_types {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.images_types h3 {
  text-align: center;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

.images_types .type_list {
  align-items: center;
  display: flex;
  list-style: none;
  align-self: center;
  padding: 0;
}

.images_types .type_list li {
  display: inline-block;
  padding: 0 1.5rem;
}

.images_types .type_list li button {
  background-color: #F6C959;
  background-position: center;
  background-position-y: -50%;
  background-repeat: no-repeat;
  border: none;
  border-radius: 50%;
  height: 5rem;
  vertical-align: middle;
  width: 5rem;
}

.container .form {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  justify-content: center;
  padding: 2rem;
  width: 50rem;
  height: 100vh;
}

.form h2 {
  color: #274C77;
  font-family: "Cairo", sans-serif;
}

.form ol {
  margin-bottom: 2rem;
}

.form ol li {
  line-height: 1.5rem;
}

.form form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

form .url_section {
  text-align: center;
}

form .form_submit {
  display: flex;
  justify-content: center;
}

.image_section label,
.url_section label {
  margin-right: 0.75rem;
  vertical-align: middle;
}

.formats .image_list {
  align-items: center;
  display: flex;
  list-style: none;
}

.image_list li {
  display: inline-block;
  padding: 0 20px;
}

.image_list li button {
  background-color: #274C77;
  background-position: center;
  background-position-y: -7px;
  background-repeat: no-repeat;
  border: none;
  border-radius: 50%;
  height: 5rem;
  margin-right: 0.5rem;
  transition: all 0.3s ease 0s;
  width: 5rem;
}

.image_list li button:hover {
  cursor: pointer;
  opacity: 75%;
}

.image_list li .selection {
  margin: 1rem 0 0 2rem;
}

.url_section #url {
  vertical-align: middle;
  width: 20rem;
}

.form .image_section {
  margin-top: 1.5rem;
}

.form .all {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.nav_links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0 20px;
}

.nav_links li i {
  margin-right: 0.5rem;
  transition: all 0.3s ease 0s;
  vertical-align: middle;
}

.nav_links li a {
  display: flex;
  align-items: center;
  color: #282828;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: #282828;
}

.nav_links li a:hover i {
  color: #A3CEF1;
}

header {
  align-items: center;
  display: flex;
  justify-content: center;
}

body {
  background-color: #FFF;
  background-size: cover;
  height: 100vh;
  padding: 1rem 1rem 0 1rem;
}

h1,
h2,
h3 {
  color: #282828;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h3.subheading {
  color: #6096BA;
}

p {
  color: #282828;
  font-family: "Open Sans", sans-serif;
}

hr {
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  width: 300px;
  position: relative;
  max-width: 100%;
  border: none;
  background-color: #c5c5c5;
  height: 1px;
}

/*# sourceMappingURL=styles.css.map */
