<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{../fragments/head.html :: head}"></head>
<body>

<main>

	<div class="container">
		<header th:replace="~{../fragments/header.html :: header}"></header>

		<div class="hero">
			<div class="hero_text">
				<h1>PictoCrawl</h1>
				<h3 class="subheading">Picture Perfect: Extract Images Effortlessly with our Web Crawler</h3>
				<p>
					Harness the Power of Web Crawling to Enrich Your Visual Content
				</p>
				<a th:href="@{/crawl}">
					<button class="cta crawl_cta">Begin Crawling</button>
				</a>
			</div>

			<div class="hero_image">
				<img alt="Image Search" th:src="@{/assets/images/heroimage.svg}">
			</div>
		</div> <!-- hero -->


		<hr class="separator">
		<h2 class="section_heading">About</h2>
		<div class="about">
			<div class="about_text">
				<h3 class="subheading">What started out as a job interview project<br>turned into something more</h3>
				<div class="images_types">
					<h3>Supported Types</h3>
					<ul class="type_list">
						<li class="type" id="gif"><button th:style="'background-image: url(' + @{/assets/images/icons/gif.png} + ')'"></button></li>
						<li class="type" id="jpg"><button th:style="'background-image: url(' + @{/assets/images/icons/jpg.png} + ')'"></button></li>
						<li class="type" id="jpeg"><button th:style="'background-image: url(' + @{/assets/images/icons/jpeg.png} + ')'"></button></li>
						<li class="type" id="png"><button th:style="'background-image: url(' + @{/assets/images/icons/png.png} + ')'"></button></li>
						<li class="type" id="svg"><button th:style="'background-image: url(' + @{/assets/images/icons/svg.png} + ')'"></button></li>
					</ul>
				</div>
				<p class="about_summary">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut cum dicta dolorem dolorum, et fugiat ipsam
					laudantium, magnam nesciunt nostrum pariatur placeat quas quasi qui quod rem similique soluta sunt
					tempora vero! A aliquam consequatur cum cumque eius eveniet, ex harum laborum nam nobis odio quam qui
					quia, quo sunt.
				</p>
				<a th:href="@{/about}"><button class="cta about_cta">About</button></a>
			</div>
		</div>

		<hr class="separator">
		<h2 class="section_heading">Some Stats</h2>
		<div class="stats" th:insert="~{../fragments/statscards.html :: cards(${avgPages}, ${totalWebsites}, ${totalImages},
		     ${avgImagePerPage}, ${speed})}"></div>

	</div> <!-- container -->
</main>

<script src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js" type="module"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>