<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{../fragments/head.html :: head}"></head>
<body>

<main>

	<div class="container">
		<header th:replace="~{../fragments/header.html :: header}"></header>

		<div class="hero">
			<div class="hero_text">
				<h1>PictoCrawl</h1>
				<h3 class="subheading">Picture Perfect: Extract Images Effortlessly with our Web Crawler</h3>
				<p>
					Harness the Power of Web Crawling to Enrich Your Visual Content
				</p>
				<a th:href="@{/crawl}">
					<button class="cta crawl_cta">Begin Crawling</button>
				</a>
			</div>

			<div class="hero_image">
				<img alt="Image Search" th:src="@{/assets/images/heroimage.svg}">
			</div>
		</div> <!-- hero -->

		<hr class="separator">
		<h2 class="section_heading">Some Stats</h2>
		<div class="stats" th:insert="~{../fragments/statscards.html :: cards(${avgPages}, ${totalWebsites}, ${totalImages},
		     ${avgImagePerPage}, ${speed})}"></div>

	</div> <!-- container -->
</main>

<script src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js" type="module"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>