<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="../fragments/head.html :: head"></head>
<body>

<main>

	<div class="container">
		<header th:replace="../fragments/header.html :: header"></header>

		<div class="hero">
			<div class="hero_text">
				<h1>PictoCrawl</h1>
				<h3 class="subheading">Picture Perfect: Extract Images Effortlessly with our Web Crawler</h3>
				<p>
					Harness the Power of Web Crawling to Enrich Your Visual Content
				</p>
				<a th:href="@{/crawl}">
					<button class="cta crawl_cta">Begin Crawling</button>
				</a>
			</div>

			<div class="hero_image">
				<img th:src="@{/assets/images/heroimage.svg}" alt="Image Search">
			</div>
		</div>

	<hr class="separator">
	<h2 class="section_heading">Some Stats</h2>
	<div class="stats" th:insert="../fragments/statscards.html :: cards"></div>

	</div> <!-- container -->
</main>

<script src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js" type="module"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>


<!--<form action="#" class="crawl_form">
				<div class="url_entry">
					<p>
						<label for="url" id="url_label">URL:</label>
						<input class="url_input" id="url" placeholder="https://example.com" type="text">
					</p>
				</div>
				<div class="options">
					<h3>Images to search</h3>
					<ul class="options_list">
						<li>
							<button class="option" data-checkbox-id="gif_btn" id="gif_btn" onclick="toggleCheckbox('gif')"
							        th:style="'background-image: url(' + @{/assets/images/icons/gif.png} + ')'"
							        type="button"></button>
							<br>
							<input class="selection" id="gif" name="imageType" type="checkbox" value="gif">
						</li>
						<li>
							<button class="option" data-checkbox-id="jpg_btn" id="jpg_btn" onclick="toggleCheckbox('jpg')"
							        th:style="'background-image: url(' + @{/assets/images/icons/jpg.png} + ')'"
							        type="button"></button>
							<br>
							<input class="selection" id="jpg" name="imageType" type="checkbox" value="jpg">
						</li>
						<li>
							<button class="option" data-checkbox-id="jpeg_btn" id="jpeg_btn" onclick="toggleCheckbox('jpeg')"
							        th:style="'background-image: url(' + @{/assets/images/icons/jpeg.png} + ')'"
							        type="button"></button>
							<br>
							<input class="selection" id="jpeg" name="imageType" type="checkbox" value="jpg">
						</li>
						<li>
							<button class="option" data-checkbox-id="png_btn" id="png_btn" onclick="toggleCheckbox('png')"
							        th:style="'background-image: url(' + @{/assets/images/icons/png.png} + ')'"
							        type="button"></button>
							<br>
							<input class="selection" id="png" name="imageType" type="checkbox" value="jpg">
						</li>
						<li>
							<button class="option" data-checkbox-id="svg_btn" id="svg_btn" onclick="toggleCheckbox('svg')"
							        th:style="'background-image: url(' + @{/assets/images/icons/svg.png} + ')'"
							        type="button"></button>
							<br>
							<input class="selection" id="svg" name="imageType" type="checkbox" value="jpg">
						</li>
					</ul>
					<div class="options_singular">
						<label class="options_all">All Types:</label>
						<input class="selection_all" id="option_all" onclick="toggleRadio()" type="radio" value="all">
					</div>
					<button class="form_submit" type="submit">Submit</button>
				</div>
			</form>-->