<header th:fragment="header">
	<nav>
		<ul class="nav_links">
			<li class="nav_link"><a th:href="@{/}"><i class="fa-solid fa-house"></i>Home</a></li>
			<li class="nav_link"><a th:href="@{/about}"><i class="fa-solid fa-address-card"></i>About</a></li>
			<!--<li class="nav_link"><a th:href="@{/changelog}"><i class="fa-solid fa-list"></i>Changelog</a></li>
			<li class="nav_link"><a th:href="@{/todo}"><i class="fa-solid fa-list-check"></i>To Do</a></li>-->
			<li class="nav_link"><a href="https://github.com/kyleryxn/pictocrawl" target="_blank"><i
					class="fa-brands fa-github"></i>GitHub</a></li>
		</ul>
	</nav>
</header>
