<div class="cards" th:fragment="cards">
	<div class="card" style="--clr: #274C77;">
		<div class="box">
			<div class="icon">
				<div class="iconbox">
					<ion-icon name="globe-outline"></ion-icon>
				</div>
			</div>
			<div class="content">
				<h3>Pages Crawled</h3>
				<p>
					Throughout PictoCrawl's journey, it has gracefully explored an average of # pages, spanning across
					# unique websites.
				</p>
			</div>
		</div>
	</div>

	<div class="card" style="--clr: #6096BA">
		<div class="box">
			<div class="icon">
				<div class="iconbox">
					<ion-icon name="images-outline"></ion-icon>
				</div>
			</div>
			<div class="content">
				<h3>Images Grabbed</h3>
				<p>
					In its quest for visuals, PictoCrawl has successfully gathered a grand total of # images, showcasing
					an impressive average of # images per page.
				</p>
			</div>
		</div>
	</div>

	<div class="card" style="--clr: #A3CEF1">
		<div class="box">
			<div class="icon">
				<div class="iconbox">
					<ion-icon name="speedometer-outline"></ion-icon>
				</div>
			</div>
			<div class="content">
				<h3>Average Speed</h3>
				<p>
					PictoCrawl proudly flaunts its swift capabilities, navigating through an impressive average of #
					pages per second.
				</p>
			</div>
		</div>
	</div>
</div>