<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
	      name="viewport">
	<meta content="ie=edge" http-equiv="X-UA-Compatible">
	<title>Document</title>
</head>
<body>

<div class="cards" th:fragment="cards(avgPages, totalWebsites, totalImages, avgImagePerPage, speed)">
	<div class="card" style="--clr: #274C77;">
		<div class="box">
			<div class="icon">
				<div class="iconbox">
					<ion-icon name="globe-outline"></ion-icon>
				</div>
			</div>
			<div class="content">
				<h3>Pages Crawled</h3>
				<p>
					Throughout PictoCrawl's journey, it has gracefully explored an average of
					<strong><span th:text="${#numbers.formatDecimal(avgPages, 1, 'COMMA', 0, 'POINT')}"></span></strong>
					pages, spanning across <strong><span th:text="${#numbers.formatDecimal(totalWebsites, 1, 'COMMA', 0, 'POINT')}"></span></strong>
					 unique websites
				</p>
			</div>
		</div>
	</div>

	<div class="card" style="--clr: #6096BA">
		<div class="box">
			<div class="icon">
				<div class="iconbox">
					<ion-icon name="images-outline"></ion-icon>
				</div>
			</div>
			<div class="content">
				<h3>Images Grabbed</h3>
				<p>
					In its quest for visuals, PictoCrawl has successfully gathered a grand total of
					<strong><span th:text="${#numbers.formatDecimal(totalImages, 1, 'COMMA', 0, 'POINT')}"></span></strong>
					images, showcasing an impressive average of
					<strong><span th:text="${#numbers.formatDecimal(avgImagePerPage, 1, 'COMMA', 0, 'POINT')}"></span></strong>
					 images per page
				</p>
			</div>
		</div>
	</div>

	<div class="card" style="--clr: #A3CEF1">
		<div class="box">
			<div class="icon">
				<div class="iconbox">
					<ion-icon name="speedometer-outline"></ion-icon>
				</div>
			</div>
			<div class="content">
				<h3>Average Speed</h3>
				<p>
					PictoCrawl proudly flaunts its swift capabilities, navigating through an impressive average of
					<strong><span th:text="${#numbers.formatDecimal(speed, 1, 'COMMA', 2, 'POINT')}"></span></strong>
					 pages per second
				</p>
			</div>
		</div>
	</div>
</div>

</body>
</html>
