@use "../abstracts/variables" as var;
@use "../components/cards" as cards;
@use "../components/buttons" as buttons;

.container {
	align-content: center;
	align-items: center;
	background-color: #F5F5F5;
	display: flex;
	flex-direction: column;
	justify-content: flex-start; /* Aligns items at the top */
	padding: 1rem 3rem 0;
	width: 100%;
}

.container .hero {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 2rem;
	padding: 2rem;
	width: 50%;
}

.hero_text,
.hero_image {
	flex-direction: column;
	padding: 1rem;
	width: 50%;
}

.hero_text {
	align-items: center;
	display: flex;
	justify-content: center;
}


.hero_text h3,
.about h3 {
	letter-spacing: 5px;
	text-transform: uppercase;
}

.hero_image {
}

.container .section_heading {
	letter-spacing: 5px;
	text-transform: uppercase;
}

.form {
	background-color: red;
	padding: 3rem;
}

.form .crawl_form {
	align-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.crawl_form .url_entry {
	align-content: center;
	align-items: center;
	display: flex;
	justify-content: flex-start;
}

.url_entry p {
	font-size: 1rem;
}

.url_entry #url_label {
	font-size: 1.25rem;
	margin-right: 0.5rem;
}

.url_entry .url_input {
	background-color: #4F5D75;
	border: 1px solid #EF8354;
	color: #FFF;
	height: 2rem;
	width: 25rem;
}

.crawl_form .options {
	align-content: center;
	align-items: center;
	flex-direction: row;
	justify-content: space-evenly;
	text-align: center;
	width: 50rem;
}

.options h3 {
	color: #FFF;
	font-family: var.$main-heading-font-family;
	font-weight: lighter;
}

.options .options_list {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	list-style: none;
}

.options_list li {
	align-self: center;
	display: inline-block;
}

.options_list .option {
	background-color: #FFF;
	background-position: center;
	background-position-y: -50%;
	background-repeat: no-repeat;
	//border: 1px solid black;
	border: none;
	border-radius: 50%;
	height: 5rem;
	margin: 0 0 1.5rem;
	transition: all 0.3s ease 0s;
	width: 5rem;
}

.options_list .option:hover {
	background-color: rgba(239, 131, 84, 0.8);
	cursor: pointer;
}

.options_list .options_singular {
	align-items: center;
	display: flex;
	justify-content: center;
}

.options_singular .options_all {
	color: #FFF;
	font-family: var.$base-font-family;
	margin-right: 0.5rem;
}

.options_singular .options_all,
.options_singular .selection_all {
	vertical-align: middle;
}

.selection {
	margin-left: 2rem;
	margin-right: 2rem;
}

.container .stats {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 3rem;
	width: 100%;
}

.container .stats .cards {
	display: flex;
	flex-direction: row;
}

.container .about {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 2rem;
	padding: 0 3rem 3rem 3rem;
}

.about h3 {
	width: 100%;
	text-align: center;
	margin-bottom: 2rem;
}

.about .about_summary {
	padding: 1rem;
	width: 25%;
}

.about .images_types {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	align-content: center;
	margin-right: 2rem;
}

.images_types h3 {
	margin-left: 2rem;
}

.images_types .type_list {
	align-items: center;
	display: flex;
	list-style: none;
	align-self: center;
	padding: 0;
}

.images_types .type_list li {
	display: inline-block;
	padding: 0 1.5rem;
}

.images_types .type_list li button {
	background-color: #274C77;
	background-position: center;
	background-position-y: -50%;
	background-repeat: no-repeat;
	border: none;
	border-radius: 50%;
	height: 5rem;
	vertical-align: middle;
	width: 5rem;
}